# This file specifies which files and directories should be ignored by Docker when building the image.
# It typically includes files that are not needed in the container, such as local development files.

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.git
*.gitignore
Dockerfile
README.md